* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 15px;
  font-family: sans-serif;
  font-size: 1.2em;
}

.out-container {
  background: #333;
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 450px;
  overflow: scroll;
  /* scroll-snap-type: x proximity; */
  /* overscroll will stay in container */
  overscroll-behavior: contain;
}

.item {
  flex-shrink: 0;
  width: 250px;
  height: 100%;
  /* flex-grow: 1; */
  scroll-snap-align: start;
  /* height: 100%; */
}
.item:nth-child(2n + 1) {
  background: teal;
}
.item:nth-child(2n) {
  background: goldenrod;
}

/* .item:nth-child(3) {
  background: royalblue;
} */
